.body{
    margin:6% 10%;
    padding:5%;
    border:2px solid black;
    border-radius: 10px;
    background-color: #2042c9;
    background-image: url("https://www.transparenttextures.com/patterns/scribble-light.png");
    color:white;
}

.body h2{
    text-decoration: underline;
}

.listPrivacy{
    color:yellow;
    list-style: disc !important;
    padding: 2%;
    /* list-style-type: circle; */
}

.listItem{
    color: white;
    margin: 2%;
    margin-top: 0%;
}