.chat {
    padding: 20px;
    width:25%;
}

.bingoRoom{
    display:flex;
    flex-direction: row;
    margin:4% 0%;
    width:100%;
}

.members{
    width:25%;
    padding:2%;
}

.bingoGame{
    width:50%;
    text-align:center;
    margin:auto;
}