.leaderboardPaper{
    margin:5% 8%;
    background-color: #fcef005e !important;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.tableHeading{
    display:flex;
    justify-content: space-between;
    flex:1;
    align-items: center;
    margin: 2%;
}

.tableHeading h2 {
margin-top: 3%;
}

.tableDrop {
margin-top: 3%;
}