.membersHeading h5{
    color:red;
    font-family:cursive;
    text-align: center;
}
.memberContainer{
    margin:4% 2%;
}

.membersBlock{
    border:2px solid black;
    margin:1%;
    border-radius:10px;
}

.player{
    padding:1%;
    border-bottom: 1px solid black;
}

.player:nth-Child(4){
    border-bottom:none;
}