.barChart {
  width: 35%;
  margin: auto;
  margin-top: 1%;
  height: 20%;
}

.dropdown {
  margin-top: 2%;
  margin-left: 41%;
}

.lineChart {
  width: 35%;
  margin: auto;
  margin-top: 1%;
}

.pieChart {
  width: 15%;
  margin: auto;
  margin-top: 1%;
}

.toggle {
  width: fit-content;
}

.default img {
  color: antiquewhite;
}
