.main_container {
  width: 98vw;
  padding-bottom: 4%;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileBox {
  margin-top: 4.5%;
  width: 58%;
  height: 40%;
}

.playerStats {
  margin-top: 5%;
  width: 32%;
  height: 38%;
  margin-left: 2%;
  background-color: lightyellow;
  border: 1px solid whitesmoke;
  border-radius: 5%;
  box-shadow: 4px 4px 4px #05a8b9;
}

.globalStats {
  margin-left: 8%;
  margin-top: 2%;
  width: 80%;
  height: 40%;
  padding: 2%;
  background-color: lightyellow;
  border: 1px solid whitesmoke;
  border-radius: 3%;
  box-shadow: 4px 4px 4px #05a8b9;
}

.globalSt {
  height: 100%;
  display: flex;
}
