.profile__box{
    display:flex;
    padding:3%;
    border:2px solid black;
    border-radius: 10px;
}
.info{
    width:75%;
}

.profile_img{
    width:25%;
}

.avatar_img{
    width:171px;
    height:171px;
    border-radius: 50%;
    border:1px solid whitesmoke;
}

.more_info{
    margin:3%;
}

.head_text{
    font-size:1.3rem;
    font-weight:600;
}

.ans_text{
    font-size:1.2rem;
    font-weight:500;
}

ul{
   list-style: none;  
}

li {
    display: flex;
}