.bingo {
    margin: auto;
    width: fit-content;
}

.bingo img {
    width: 8%;
    color: aqua;
}

.elem {
    /* margin-left: 18%; */
    background-color: aqua;
}

.gridLayout {
    /* background-color: blue; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.elem:nth-child(3) {
    /* margin-left: 20%; */
    background-color: tomato;
    margin-left: 20%; 
}

.elem:nth-child(8) {
    /* margin-left: 20%; */
    background-color: tomato;
}

.elem:nth-child(13) {
    /* margin-left: 20%; */
    background-color: tomato;
}
.elem:nth-child(18) {
    /* margin-left: 20%; */
    background-color: tomato;
}
.elem:nth-child(23) {
    /* margin-left: 20%; */
    background-color: tomato;
}


.gridElem {
    background-color: violet;
}

/* .mainGrid {
    background-color: chartreuse;
} */