.main_container {
  width: 100%;
  height: 18vh;
  display: flex;
  background-color: rgb(33, 7, 176);
}

.leftArea {
  width: 50%;
  height: 100%;
  /* padding: 1.5%; */
}

/* .leftArea h1 {
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  width: fit-content;
  margin-top: 1.8%;
  color: rgb(4, 0, 90);
} */

.leftArea img{
  width: 20%;
  bottom: 20%;
  height: 70%
}

.rightArea {
  width: 50%;
  height: 100%;
  /* padding: 1.5%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */

}

.leader {
  width: 50%;
  height: 80%;
  text-align: center;
  margin-top: 5%;
}

.profile {
  width: 50%;
  height: 80%;
  text-align: center;
  margin-top: 5%;

}

.logout {
  width: 50%;
  height: 80%;
  text-align: center;
  margin-top: 7%;

}
